<div class="battle_rules">
The battle creatures:
<br/><br />
<strong>Vampire</strong>
<br/>Cunning, ancient, powerful. Can see where ninjas hide and can beat robot technology. Can't withstand zombie diseases and gets seasick on pirate ships.<br /><br />
<strong>Zombie</strong>
<br/>Relentless fighter, doesn't feel pain. Easily beats drunken pirates and clean vampires. Not strong enough to fight robots, blind to ninjas.<br /><br />
<strong>Pirate</strong>
<br/>Loud and strong. Lures vampires onto ships to beat them and drowns robots. Gets infected with zombies' diseases, not quick enough to see ninjas.<br /><br />
<strong>Robot</strong>
<br/>Hard and resilient. Can seek out ninjas with its infra-red vision, and is unaffected by zombies. Not smart enough for vampires and breaks around seawater.<br /><br />
<strong>Ninja</strong>
<br/>Stealthy and silent. Can assasinate zombies and pirates without a sound. Can't hide from the more powerful vampire and robot creatures.<br /><br />

</div>

If you know your creature, <%= link_to 'go back to the lobby', root_path, id: "lobby" %>