<div class="battle_rules">
The rules of the game:
    <ol>
      <li>You choose your battle creature.</li>
      <li>Your opponent will choose his player.</li>
      <li>Your creatures battle it out.</li>
      <li>You will win if you are stronger than your opponent, draw if you meet an opponent of the same kind, or lose otherwise.</li>
    </ol>
</div>

Got it? <%= link_to 'Go back to the lobby', root_path, id: "lobby" %>